<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name.capitalize %> updated the booking and it requires new confirmation.</h1>
    <p><%= @user.first_name.capitalize %> has updated their booking and is now waiting for your confirmation. Please review the request and confirm or decline depending on your availability.</p>
    <p>If you have any questions, please feel free to contact us.</p>
    <p>Best regards,<br>your Quouch Team</p>
  </body>
</html>
